.home{
  position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;

    &_text-wrapper{
      display: flex;
    justify-content: center;

    h1{
      color: var(--yellow-theme-main-color);
    font-size: 6rem;
    position: relative;
    line-height: 8rem;
    overflow: hidden;
    font-weight: 500;
    white-space: nowrap;
    animation: typingeffect 2.5s steps(30,end);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    }

    button{
      font-size: 2rem;
      background: transparent;
      padding: 10px 65px;
      color: var(--yellow-theme-main-color);
      border:1px solid var(--yellow-theme-main-color);
      border-radius: 5px;
      font-weight: 500;

      &:hover{
        color:var(--yellow-theme-background-color);
        background-color: var(--yellow-theme-main-color);
      }
    }
 }


@media only screen and (max-width:550px){
    .home_text-wrapper h1{
      font-size: 2rem;
      line-height: 3rem;
    }
}

@media only screen and (min-width:551px) and (max-width:768px){
  .home_text-wrapper h1{
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media only screen and (min-width:769px) and (max-width:990px){
  .home_text-wrapper h1{
    font-size: 5rem;
    line-height: 7rem;
  }
}

@keyframes typingeffect {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
  
}